<h4>Welcome!</h4>

<p>&nbsp;</p>

<p>
The University of Kentucky has a digital repository, jointly managed by University of Kentucky Information Technology and University of Kentucky Libraries, for managing research data long term.  The University of Kentucky is committed to preserving research data in perpetuity for future use and reuse, aiding the researcher with their data curation responsibility.
</p>

<p>
The repository uses a microservices-based approach to store, curate and preserve data.  Research data are stored in a modular storage hierarchy using appropriate storage technologies such as spinning disk, magnetic tape, and cloud storage.  Repository software manages and tracks the data through the point of ingestion thoughout its lifecycle, maintaining file integrity and migrating to new formats as appropriate.  Researchers have the option to share the data from the repository as needed. 
</p>
