<h4>New file</h4>

<%= simple_form_for [@package, @new_asset], html: {multipart: true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :file, multiple: true %>
  </div>

  <div class="form-actions">
    <%#= f.submit "Upload" %>
  </div>

  <script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
  </script>

  <script id="template-done" type="text/x-tmpl">
  <tr>
    <td>{%=o.name%}</td>
    <td></td>
    <td><a href="{%=o.url%}" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Destroy</a></td>
  </tr>
  </script>
<% end %>
