<h3>Attached files</h3>

<table id="assets" class="table table-striped">
  <tr>
    <th>Name</th>
  </tr>

<% @assets.each do |asset| %>
  <% unless asset.new_record? %>
  <tr>
    <td><%= asset.name %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= render 'assets/form' %>
